.title{
    color: black;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

.phrase{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    font-size: small;
}
     
.table{
    margin-top:50px ;
    text-align: center;
}